Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
*.apk
*.aar
*.so


# --- IDE-specific files ---
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# --- OS-specific files ---
.DS_Store
Thumbs.db

# --- Editeur/IDE divers ---
.vscode/
.idea/
